.vscode/**
.vscode-test/**
test/**
.gitignore
jsconfig.json
vsc-extension-quickstart.md
.eslintrc.json
**/tsconfig.json
**/*.ts
!**/*.d.ts
**/.github/
extension.js
languages.d.ts
languages.js
cspell.json
**/node_modules
